/* body {
  background-color: lightskyblue;
} */
h1 {
  /* font-family: "Rubik Puddles", system-ui; */
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  text-align: center;
}
/* 
.heading {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* .unbox {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
} */

#overlay {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

#center_popup {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  z-index: 10;
}

#pop_up {
  position: fixed;
  /* background-color: rgba(210, 43, 43, 0.8); */
  padding: 24px;
  /* border: 5px solid white; */
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;

  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  z-index: -1;
  width: 300px;
  height: 300px;
}

.button:hover {
  transform: scale(1.1) !important; /* Slightly enlarges on hover */
}

.fungi-inventory {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.unbox-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.unbox-box {
  animation: tilt-shaking 0.5s ease-in-out infinite;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.unbox-box:hover {
  transform: scale(1.1) !important; /* Slightly enlarges on hover */
  /* animation-play-state: paused; */
}

/* Basic styling for the slider track - not working, come back if i have time to do this*/
.slider {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 100%; /* Full width */
  height: 15px;
  background: #d3d3d3;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
}

/* Styling for the slider thumb (the draggable part) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d; /* Green */
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d; /* Green */
  cursor: pointer;
}

div.scrollmenu {
  background-color: #dfeef5;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

/* decide how i want to animate/display this info based on design */
@keyframes unboxed-float {
  0%,
  100% {
    transform: scale(1) translateY(0);
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
  }
  25% {
    transform: scale(1.15) translateY(-15px);
    filter: drop-shadow(0 0 25px rgba(100, 200, 255, 0.8));
  }
  50% {
    transform: scale(1.2) translateY(-20px) rotate(5deg);
    filter: drop-shadow(0 0 35px rgba(100, 200, 255, 1));
  }
  75% {
    transform: scale(1.15) translateY(-15px);
    filter: drop-shadow(0 0 25px rgba(100, 200, 255, 0.8));
  }
}

.unboxed {
  animation: unboxed-float 2s ease-in-out infinite;
  z-index: 10;
  /* filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.8)); */
}
